.container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .areas-tags {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        & > div {
            display: flex;
            column-gap: 10px;
        }
    }
}

.manage-areas {
    & > div:first-child {
        margin-block-end: 20px;
    }
    .areas-list {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        max-width: 300px;
    
        .area {
            .editable-area {
                width: 100%;
                display: flex;
                align-items: center;
            }
            .area-label {
                width: 100%;
            }
        }

        .parent .area-label {
            font-weight: bold;
        }
        
        .child {
            margin-left: 20px;
        }
    }
}